<div th:replace="~{layout :: layout(~{::content})}">
  <div th:fragment="content">
    <h1>Transacción Completa Diferida - Consulta de cuotas</h1>
    <p class="mb-32">
      En esta etapa, realizaremos una consulta de cuotas para conocer sus condiciones. Es importante
      destacar que este paso es opcional y se utiliza únicamente si deseas ofrecer opciones de pago a plazos.
    </p>

    <h2 id="request">Paso 1: Petición</h2>
    <p class="mb-32">Para llevar a cabo la consulta de cuotas, debemos enviar los siguientes datos relevantes.</p>

    <pre class="mb-16"><code class="language-java">
import cl.transbank.common.IntegrationApiKeys;
import cl.transbank.common.IntegrationCommerceCodes;
import cl.transbank.common.IntegrationType;
import cl.transbank.webpay.common.WebpayOptions;
import cl.transbank.webpay.transaccioncompleta.FullTransaction;

FullTransaction tx = new FullTransaction(
  new WebpayOptions(
    IntegrationCommerceCodes.TRANSACCION_COMPLETA_DEFERRED,
    IntegrationApiKeys.WEBPAY,
    IntegrationType.TEST
  )
);

var resp = tx.installments(token, installments);
    </code></pre>

    <h2 id="response">Paso 2: Respuesta</h2>
    <p>Una vez realizada la consulta de cuotas, recibirás los siguientes datos de respuesta:</p>

    <pre class="mb-16"><code class="language-json" th:text="${response_data_json}"></code></pre>

    <h2 id="form">Confirmar Transacción</h2>
    <p class="mb-16">
      Si decides utilizar cuotas y estás satisfecho con las condiciones obtenidas en la consulta, el
      siguiente paso sería confirmar la transacción.
    </p>

    <div class="tbk-card">
      <div class="input-container mb-32">
        <label for="token" class="tbk-label">Token</label>
        <input type="text" id="token" name="token" class="tbk-input-text" th:value="${request_token}" />
      </div>
      <div class="input-container">
        <label for="idQueryInstallments" class="tbk-label">ID de consulta de cuotas (Opcional)</label>
        <input type="text" id="idQueryInstallments" name="idQueryInstallments" class="tbk-input-text"
               th:value="${response_data.idQueryInstallments}" />
      </div>

      <div class="tbk-card-footer">
        <a href="#" id="confirmLink" class="tbk-button primary">CONFIRMAR TRANSACCIÓN</a>
      </div>
    </div>

    <script>
      const tokenInput = document.getElementById('token');
      const idQueryInstallmentsInput = document.getElementById('idQueryInstallments');
      const confirmLink = document.getElementById('confirmLink');

      const baseUrl = "/transaccion-completa-diferida/commit";

      function updateLink() {
        const token = tokenInput.value;
        const idQueryInstallments = idQueryInstallmentsInput.value;

        const params = new URLSearchParams();
        if (token) params.append('token', token);
        if (idQueryInstallments) params.append('idQueryInstallments', idQueryInstallments);

        confirmLink.href = baseUrl + '?' + params.toString();
      }

      tokenInput.addEventListener('input', updateLink);
      idQueryInstallmentsInput.addEventListener('input', updateLink);

      updateLink();
    </script>
  </div>
</div>
