<div th:replace="~{layout :: layout(~{::content})}">
  <div th:fragment="content">
    <h1>Webpay Oneclick Mall - Creación de Inscripción</h1>
    <p class="mb-32">
      En esta etapa comienza el proceso de inscripción del medio de pago. Este
      paso inicial es fundamental para dirigir al Tarjetahabiente al formulario
      de inscripción.
    </p>

    <p class="mb-32">
      Todas las transacciones en este proyecto de ejemplo son realizadas en
      ambiente de integración.
    </p>

    <h2 id="request">Paso 1: Petición</h2>
    <ol class="bullet-list mb-32">
      <li>Comienza por importar la librería Oneclick en tu proyecto.</li>
      <li>
        Luego, inicia una inscripción utilizando las funciones proporcionadas
        mediante el SDK.
      </li>
    </ol>

    <pre><code class="language-java mb-32">
import cl.transbank.common.IntegrationApiKeys;
import cl.transbank.common.IntegrationCommerceCodes;
import cl.transbank.common.IntegrationType;
import cl.transbank.webpay.common.WebpayOptions;
import cl.transbank.webpay.oneclick.Oneclick;

var options = new WebpayOptions(
                IntegrationCommerceCodes.ONECLICK_MALL,
                IntegrationApiKeys.WEBPAY,
                IntegrationType.TEST
        );
var inscription = new Oneclick.MallInscription(options);
var resp = inscription.start(username, email, responseUrl);
    </code></pre>

    <h2 id="response">Paso 2: Respuesta</h2>
    <p class="mb-32">
      Una vez que hayas iniciado la inscripción, aquí encontrarás los datos de
      respuesta generados por el proceso.
    </p>

    <pre><code class="language-json mb-32" th:text="${response_data_json}"></code></pre>

    <h2 id="form">Paso 3: Creación del formulario</h2>
    <p class="mb-32">
      Utiliza estos datos de respuesta para redireccionar al usuario al
      formulario de inscripción del Tarjetahabiente. Este formulario será la
      interfaz a través de la cual el usuario completará su inscripción.
    </p>

    <pre><code class="language-html mb-32"
                   th:text="'<form action=&quot;' + ${response_data.urlWebpay} + '&quot; method=&quot;POST&quot;>
  <input type=&quot;hidden&quot; name=&quot;TBK_TOKEN&quot; value=&quot;' + ${response_data.token} + '&quot; />
  <input type=&quot;submit&quot; value=&quot;Inscribir&quot; />
</form>'">
</code></pre>

    <h2 id="example">Ejemplo</h2>
    <p class="mb-32">
      Para llevar a cabo una inscripción en nuestro sistema, primero debemos
      crearla. Utilizaremos los siguientes datos para configurar la inscripción:
    </p>

    <div th:replace="~{partials/table :: table(${request_data})}"></div>

    <p class="mb-32">
      Por último, con la respuesta del servicio que confirma la creación de la
      inscripción, procedemos a crear el formulario de redirección. Para fines
      de este ejemplo, haremos visible el campo "TBK_TOKEN", el cual es esencial
      para completar el proceso de inscripción de manera exitosa.
    </p>

    <span>
      Antes de continuar al formulario de Webpay, asegúrate de contar con los
      datos de las tarjetas de prueba que están en la
      <a
        href="https://transbankdevelopers.cl/documentacion/como_empezar#tarjetas-de-prueba"
        target="_blank"
        class="tbk-link"
        >documentación</a
      >
    </span>

    <form th:action="${response_data.urlWebpay}" method="POST">
      <div class="tbk-card">
        <span class="tbk-card-title">Formulario de redirección</span>
        <label class="tbk-label" for="TBK_TOKEN">Token</label>
        <input
          type="text"
          name="TBK_TOKEN"
          class="tbk-input-text"
          th:value="${response_data.token}"
        />
        <div class="tbk-card-footer">
          <button class="tbk-button primary">INSCRIBIR</button>
        </div>
      </div>
    </form>
  </div>
</div>
