<div th:replace="layout :: layout(~{::content})">
    <div th:fragment="content">

        <h1>Webpay Plus - Creación de transacción</h1>
        <p class="mb-32">En esta etapa, se procederá a la creación de una transacción con el fin de obtener un
            identificador
            único. Esto
            nos permitirá redirigir al Tarjetahabiente hacia el formulario de pago en el siguiente paso.
        </p>

        <h2 id="request">Paso 1: Petición</h2>
        <ul class="mb-32">
            <li>Comienza por importar la librería WebpayPlus en tu proyecto.</li>
            <li>Luego, crea una transacción utilizando las funciones proporcionadas mediante el SDK.</li>
        </ul>

<pre><code class="language-java">
import cl.transbank.common.IntegrationType;
import cl.transbank.webpay.common.WebpayOptions;
import cl.transbank.webpay.webpayplus.WebpayPlus;

tx = new WebpayPlus.Transaction(new WebpayOptions(commerceCode, apiKey, IntegrationType.TEST));
var resp = tx.create(buyOrder, sessionId, amount, returnUrl);
</code></pre>


        <h2 class="mt-32" id="response">Paso 2: Respuesta</h2>
        <p class="mb-32">Una vez que hayas creado la transacción, aquí encontrarás los datos de respuesta generados por el
            proceso.
        </p>

<pre><code class="language-java" th:text="${response_data_json}"></code></pre>

        <h2 class="mt-32" id="form">Paso 3: Creación del formulario</h2>
        <p class="mb-32">Utiliza estos datos de respuesta para redireccionar al usuario al formulario de pago al
            Tarjetahabiente.
            Este formulario será la interfaz a través de la cual el usuario realizará su transacción.
        </p>



        <h2 class="mt-32" id="example">Ejemplo</h2>
        <p class="mb-32">Para llevar a cabo una transacción de compra en nuestro sistema, primero debemos crear la
            transacción. Utilizaremos los siguientes datos para configurar la transacción:
        </p>

        <div class="mb-32">

        </div>

        <p class="mb-32">Por último, con la respuesta del servicio que confirma la creación de la transacción, procedemos
            a crear el formulario de pago. Para fines de este ejemplo, haremos visible el campo "token_ws", el cual es
            esencial para completar el proceso de pago de manera exitosa.
        </p>
        <span>Antes de continuar al formulario de Webpay, asegúrate de contar con los datos de las tarjetas de prueba que están en la <a href="https://transbankdevelopers.cl/documentacion/como_empezar#tarjetas-de-prueba" target="_blank" class="tbk-link">documentación.</a></span>



    </div>
</div>



