<div th:replace="~{layout :: layout(~{::content})}">
    <div th:fragment="content">
        <h1>Webpay Oneclick Mall Diferido - Consultar estado de transacción</h1>

        <p class="mb-32">
            Puedes solicitar el estado de una transacción hasta 7 días después de su realización.
            No hay límite de solicitudes durante ese período.
            Sin embargo, una vez pasados los 7 días, ya no podrás revisar su estado.
        </p>

        <h2 id="request">Paso 1 - Petición:</h2>
        <p class="mb-32">
            Para realizar la consulta, necesitarás el <strong>buyOrder</strong> de la transacción de interés.
            Utiliza este identificador para efectuar una llamada a MallTransaction.
        </p>

        <pre>
  <code class="language-java">
var options = new WebpayOptions(
    IntegrationCommerceCodes.ONECLICK_MALL_DEFERRED,
    IntegrationApiKeys.WEBPAY,
    IntegrationType.TEST
);
var transaction = new Oneclick.MallTransaction(options);
  var response = transaction.status(buyOrder);
  </code>
</pre>

        <h2 id="response">Paso 2: Respuesta</h2>
        <p class="mb-32">
            Transbank responderá con la siguiente información.
            Asegúrate de guardar esta respuesta, y la única validación necesaria es que el campo
            <strong>responseCode</strong> sea igual a 0.
        </p>

        <pre><code class="language-json mb-32" th:text="${response_data_json}"></code></pre>

    </div>
</div>
